@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap&subset=cyrillic-ext");
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type='number'] {
    -moz-appearance: textfield;
}
/*--------------------*/
body{
    background-color: #f3efef;
}
.wrapper {
    margin: 0 auto;
    height: 100%;
    width: 600px;
    /*background-color: #808080;*/
}

.wrapper__inputs, .wrapper__values, .wrapper__report{
    margin: 10px 0px;
    background-color: #C0C0C0;
    border-radius: 20px;

}

.inputs{
    margin: 0 auto;
    width: 400px;

}

.wrapper h2{
    margin: 15px 0 0 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #666565;
    text-align: center;

}

.inputs input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    color: #a0a0a0;
    border: 2px solid #a0a0a0;
    border-radius: 10px;
    height: 30px;
    padding: 0px 0px 0px 5px;
    font-size: 18px;
    width: 400px;
    margin: 10px 0px;
    transition: 0.3s;
}

.inputs p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #666565;
}

.btn:hover{
    color: #666565;
    transition: 0.2s;
}

.wrapper__values p, .wrapper__report p{
    text-align: center;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #666565;
    margin: 15px 0px 15px 10px;
}